$button--gradient_start: #cd7400;
$button--gradient_end: #fe9e23;
$button--gray: rgba(255, 255, 255, 60%);

$footer--bg: #15161a;
$footer--Alpha_gray: rgba(255, 255, 255, 10%);
$footer--CSSBOX: #b18c5f;
$footer--gray: #a3a6b5;
$form--orange: #d68625;

$header--orange: #e88301;
$header--black: #0b0c10;
$header--grey: #303030;

$app--black: #2a2d36;
