@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../Style/colors.scss";
@import "../Style/media.scss";

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: $app--black;
  margin: 0px;
  position: relative;
  min-height: 100vh;
  pointer-events: none;
}
